.col-md-1{
  width: 10%;
}
.col-md-1{
  width: 10%;
}
.col-md-1{
  width: 10%;
}
.col-md-1{
  width: 10%;
}
.col-md-1{
  width: 10%;
}
.col-md-2{
  width: 20%;
}
.col-md-3{
  width: 30%;
}
.col-md-4{
  width: 40%;
}
.col-md-5{
  width: 50%;
}

.col-md-6{
  width: 60%;
}.col-md-7{
  width: 70%;
}
.col-md-8{
  width: 80%;
}
.col-md-9{
  width: 90%;
}
.col-md-10{
  width: 50%;
}
.col-md-11{
  width: 50%;
}
.col-md-12{
  width: 50%;
}


.container{
 width:100%;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
}